## AN EXAMINATION OF BIODIVERSITY IN NATIONAL PARKS

A project for my Codecademy Professional Certification (Data Scientist: Machine Learning Specialist)

DISCLAIMER: Data used here is fictionally generated and was given for purposes of the project by Codecademy. 

Robert Hall

08/07/2024

#### Table of Contents

* Section 1: Distributions of conservation status across species
* Section 2: Are certain species more likely to be endangered than others?
* Section 3: Are there significant differences between species and conservation status?

#### Load Data and Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
observations = pd.read_csv('observations.csv')
observations.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [6]:
species = pd.read_csv('species_info.csv')
species.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

#### QUESTION 1